# Build folders
/build/
/bin/
/obj/


/build-NeuralNetViewer-Desktop_Qt_6_9_1_MSVC2022_64bit-Release/

# Compiled object files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

build-NeuralNetViewer-Desktop_x86/

build-NeuralNetViewer-Desktop_x86_windows_msvc2022_pe_64bit-Debug/
*.pdb

# VSCode or CLion settings (optional)
.vscode/
.idea/
*.user

# OS files
.DS_Store
Thumbs.db